.hello
{
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;

    &__particles,
    &__mask
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__caption
    {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 3;
        color: $white;

        h1
        {
            text-align: center;
        }
    }

    &__particles
    {
        z-index: 2;
        overflow: hidden;
    }

    &__mask
    {
        z-index: 1;
        background-color: $hello-mask-background;
    }
}
