.link
{
    &--with-svg
    {
        svg
        {
            margin-right: .25rem;
        }
    }

    &--no-decoration
    {
        text-decoration: none;
    }

    &--white
    {
        color: $white;
    }

    &--asbestos
    {
        color: $asbestos;
    }

    &--black
    {
        color: $black;
    }
}
