.text-small
{
    font-size: .9rem;
}

.text-light
{
    font-weight: 300;
}

.text-midnight-blue
{
    color: $midnight-blue;
}

.text-green-sea
{
    color: $green-sea;
}

.text-asbestos
{
    color: $asbestos;
}

.text-silver
{
    color: $silver;
}

.text-white
{
    color: $white;
}

.small-text-center
{
    @include breakpoint(small only)
    {
        text-align: center;
    }
}
